
.background {
    margin-top: 16px;
    background-color: lightgoldenrodyellow;
    display: flex;
    margin-left: 230px;
    margin-right: 1080px;
}

.container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
}

.imageSubText {
    color: black;
    font-size: 29px;
    font-weight: 600;
}

.smallSubText {
    padding-top: 15px;
    font-size: 12;
    font-weight: 400;
}

.news {
    font-size: 22px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 15px;
}


.sideSectionContainer {
    font-weight: 600;
    margin-left: 8px;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 17px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sideSectionTitle {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 700;
}
