
.header {
    color: white;
    margin-left: 940px;
    padding-bottom: 400px;
}

.container {
    
}

.sideSectionTitle {
    text-align: right;
    align-items: flex-end;
    font-size: 18px;
    color: black;
    font-weight: 700;
}